%h1 Listing dynamic pages


%p
  = link_to "Crear", new_admin_page_path
  una nueva página

%table
  %tr
    %th Identificador
    %th Contenidos por idiomas

  - @pages.each do |page|
    %tr
      %td
        = page.key
        |
        = link_to "Destroy", [:admin, page], :method => :delete, :confirm => "Seguro que quieres borrar esta pagina y todos sus contenidos?"
      %td
        - page.page_contents.each do |content|
          %ul
            %li
              Idioma: #{ content.locale }
            %li
              Url: #{content.url}
            %li
              = link_to "Editar", edit_admin_page_page_content_path(page, content)
            %li
              = link_to "Destroy", [:admin, page, content], :method => :delete, :confirm => "Seguro que quiere eliminar esta pagina?"

      %td
        %p
          - unless page.has_all_locales?
            = link_to "Crear", new_admin_page_page_content_path(page)
            nuevo idioma para esta página.
