%h1 Pàgines de text


%p
  = link_to "Crear", new_admin_page_path
  una nova pàgina

%table
  %tr
    %th Identificador
    %th Continguts

  - @pages.each do |page|
    %tr
      %td
        = page.key
        |
        = link_to "Eliminar", [:admin, page], :method => :delete, :confirm => "Estàs segur que vols eliminar aquesta pàgina i tots els seus continguts?"
      %td
        - page.page_contents.each do |content|
          %ul
            -#%li
              -#Idioma: #{ content.locale }
            %li
              Url: #{content.url}
            %li
              = link_to "Editar", edit_admin_page_page_content_path(page, content)
            %li
              = link_to "Eliminar", [:admin, page, content], :method => :delete, :confirm => "Estàs segur que vols eliminar aquest contingut?"

      %td
        %p
          -# unless page.has_all_locales?
          - unless page.page_contents.count == 1
            = link_to "Crear", new_admin_page_page_content_path(page)
            nou contingut per aquesta pàgina.
