%p#notice= notice

%table
  %tr
    %td= image_tag @album.image_url(:thumb).to_s
    %td
      %div
        %div 
          %strong
            =@album.title
        %div= @album.body
%ol
  = render :partial => 'tracks'

= link_to 'Editar', edit_admin_album_path(@album)
\|
= link_to 'Enrere', admin_albums_path
