%h1 Llistant concerts

%table
  %tr
    %th Date
    %th Event
    %th City
    %th Place
    %th
    %th
    %th

  - @concerts.each do |concert|
    %tr
      %td= concert.date
      %td= concert.event
      %td= concert.city
      %td= concert.place
      -#%td= link_to 'Edit', edit_admin_concert_path(concert)
      -#%td= link_to 'Destroy', concert, :confirm => 'Are you sure?', :method => :delete
      %td= link_to "Editar", edit_admin_concert_path(concert)
      %td= link_to "Eliminar", [:admin, concert], :method => :delete, :confirm => "N'estàs segur?"

%br

= link_to 'Nou concert', new_admin_concert_path
