%h1 Concerts

%table
  %tr
    %th Data 
    %th Població
    %th Lloc
    %th Hora
    %th Informació
    %th
    %th

  - @concerts.each do |concert|
    %tr
      %td= concert.date.strftime('%d/%m/%Y')
      %td= concert.city
      %td= concert.place
      %td= concert.date.strftime('%k:%M')
      %td= concert.event
      %td= link_to "Editar", edit_admin_concert_path(concert)
      %td= link_to "Eliminar", [:admin, concert], :method => :delete, :confirm => "N'estàs segur?"

%br

= link_to 'Nou concert', new_admin_concert_path