#footer_title
  %h2= t("contact", :scope => "footer")

%ul
  %li= t("phone", :scope => "footer")
  %li= t("fax", :scope => "footer")
  %li= t("address", :scope => "footer")
  
#mail
  = mail_to 'info@nova-gestion.cat', nil, :encode => :hex

.clear

%a{:href => "http://itnig.net/", :title => "Itnig"}= t ("itnig", :scope => "footer")