<div id="promociones_link">
  <h3><a href="<%= promociones_path %>"><%= t('index_prom') %></a></h3>
</div>

<h3 id="title"><%= t('footer_contact_title') %></h3>
<div class="separator_1"></div>

<p>C/ Sierra de los Filabres 52, 28038, Madrid</p>
<p>Tel/Fax: 91.494.63.58</p>
<p>Móvil: 696.62.48.93</p>
<p>E-Mail: <%= mail_to 'info@mtcserviciosintegrales.com', nil, :encode => :hex%> </p>

<div class="separator_1"></div>
<div id="itnig"><a title="<%= t('itnig') %>" href="http://itnig.net/"><%= t('itnig') %></a></div>
<div class="separator_1"></div>
