<div class="contact_info">
  <h2><%=t('contact') %></h2>
  <img src="/images/house_footer.png" alt="Casa"/>
  <div id="address">Carrer Ausiàs Marc 49, Despatx 18 Planta 3ra. Barcelona</div>

  <img src="/images/phone_footer.png" alt="teléfono"/>
  <div class="mail">93.244.80.59</div>

  <img src="/images/fax_footer.png" alt="fax"/>
  <div id="fax">93.244.82.20</div>

  <img src="/images/mail_footer.png" alt="mail"/>
  <div class="mail"><%= mail_to 'dra@drassociats.es', nil, :encode => :hex%></div>
</div>

<div class="footer_menu">
  <h2><%=t('menu', :scope => "footer") %></h2>
    <ul>
      <li><%= link_to (t :home), root_path, :title => t("home") %></li>
      <li><%= link_to (t :about_us), nosotros_path, :title => t("about_us")%></li>
      <li><%= link_to (t :services), services_path, :title => t("services")%></li>
      <li><%= link_to (t :link), vinculo_path, :title => t("link")%></li>
      <li><%= link_to (t :news), noticias_path, :title => t("news") %></li>
      <li><%= link_to (t :contact), contact_path, :title => t("contact") %></li>
  </ul>
</div>

<div class="footer_services">
  <h2><%=t('services') %></h2>
    <ul>
    <li><%= link_to (t :fiscal, :scope => "footer"), services_path(:anchor => "fiscal_section"), :title => t("fiscal", :scope => "footer")%></li>
    <li><%= link_to (t :labour, :scope => "footer"), services_path(:anchor => "labour_section"), :title => t("labour", :scope => "footer")%></li>
    <li><%= link_to (t :financial, :scope => "footer"), services_path(:anchor => "financial_section"), :title => t("financial", :scope => "footer")%></li>
    <li><%= link_to (t :juridical, :scope => "footer"), services_path(:anchor => "juridical_section"), :title => t("juridical", :scope => "footer")%></li>
    <li><%= link_to (t :auditory, :scope => "footer"), services_path(:anchor => "auditory_section"), :title => t("auditory", :scope => "footer")%></li>
    <li><%= link_to (t :others, :scope => "footer"), services_path(:anchor => "others_section"), :title => t("others", :scope => "footer")%></li>
  </ul>
</div>

<div class="clear"></div>
<div id="itnig_link">
  <a title="<%= t('itnig', :scope => "footer") %>" href="http://itnig.net/"><%= t('itnig', :scope => "footer") %></a>
</div>