%ul
  %li= section_link_to t(:home), root_path
  %li= section_link_to t(:particular), particular_path
  %li= section_link_to t(:empresas), empresas_path
  %li= section_link_to t(:finques), finques_path
  %li= section_link_to t(:seguros), seguros_path
  %li= section_link_to t(:contact), contact_path
