#accordion
  %h3
    = section_link_to t(:home), root_path
  %div
  %h3
    = section_link_to t(:reformas), reformas_path
  %div
    %p
      = section_link_to t(:home), root_path
    %p
      = section_link_to t(:reformas), reformas_path
    %p
      = section_link_to t(:home), root_path
  %h3
    = section_link_to t(:estanterias), estanterias_path
  %div
    %p
      Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
      ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
      amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
  %h3
    = section_link_to t(:altillos), altillos_path
  %div
    %p
      Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
      purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
      velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
      suscipit faucibus urna.
  %h3
    = section_link_to t(:carpinteria), carpinteria_path
  %div
    %p
      = section_link_to t(:home), root_path
    %p
      = section_link_to t(:reformas), reformas_path
    %p
      = section_link_to t(:home), root_path
    %p
      = section_link_to t(:home), root_path
    %p
      = section_link_to t(:reformas), reformas_path
    %p
      = section_link_to t(:home), root_path
    %p
      = section_link_to t(:home), root_path
    %p
      = section_link_to t(:reformas), reformas_path
    %p
      = section_link_to t(:home), root_path
  %h3
    = section_link_to t(:toldos), toldos_path
  %div
    %p
      = section_link_to t(:home), root_path
  %h3
    = section_link_to t(:persianas), persianas_path
  %div
    %p
      = section_link_to t(:home), root_path
    %p
      = section_link_to t(:reformas), reformas_path
    %p
      = section_link_to t(:home), root_path
    %p
      = section_link_to t(:home), root_path
  %h3
    = section_link_to t(:rep_persianas), rep_persianas_path
  %div
    %p
      = section_link_to t(:home), root_path
    %p
      = section_link_to t(:reformas), reformas_path
    %p
      = section_link_to t(:home), root_path
  %h3
    = section_link_to t(:rejas), rejas_path
  %div
    %p
      = section_link_to t(:home), root_path
  %h3
    = section_link_to t(:cortinas), cortinas_path
  %div
    %p
      Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
      purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
      velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
      suscipit faucibus urna.
  %h3
    = section_link_to t(:motorizacion), motorizacion_path
  %div
    %p
      Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
      ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
      amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
  %h3
    = section_link_to t(:contact), contact_path
  %div
    %p
      Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
      purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
      velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
      suscipit faucibus urna.