#menu
  %h3.selector.selector
    = section_link_to t(:home), root_path
  %div
  %h3.selector.selector
    = section_link_to t(:reformas), reformas_path
  %div
  %h3.selector.selector
    = section_link_to t(:estanterias), estanterias_path
  %div
    %p
      = section_link_to t(:cargaligera), cargaligera_path
    %p
      = section_link_to t(:cargamedia), cargamedia_path
    %p
      = section_link_to t(:cargagrande), cargagrande_path
  %h3.selector
    = section_link_to t(:altillos), altillos_path
  %div
  %h3.selector
    = section_link_to t(:carpinteria), carpinteria_path
  %div
    %p
      = section_link_to t(:puertas), puertas_path
    %p
      = section_link_to t(:ventanas), ventanas_path
    %p
      = section_link_to t(:mallorquinas), mallorquinas_path
    %p
      = section_link_to t(:techos), techos_path
    %p
      = section_link_to t(:cerramientos), cerramientos_path
    %p
      = section_link_to t(:mamparas), mamparas_path
    %p
      = section_link_to t(:porticon), porticon_path
    %p
      = section_link_to t(:mosquiteras), mosquiteras_path
    %p
      = section_link_to t(:modelos), modelos_path
  %h3.selector
    = section_link_to t(:toldos), toldos_path
  %div
    %p
      = section_link_to t(:t_stor), t_stor_path
    %p
      = section_link_to t(:t_stor_varilla), t_stor_varilla_path
    %p
      = section_link_to t(:t_stor_guias), t_stor_guias_path
    %p
      = section_link_to t(:t_punto), t_punto_path
    %p
      = section_link_to t(:brazos), brazos_path
    %p
      = section_link_to t(:capota), capota_path
    %p
      = section_link_to t(:corredero), corredero_path
    %p
      = section_link_to t(:toldo), toldo_path
    %p
      = section_link_to t(:marquesinas), marquesinas_path
  %h3.selector
    = section_link_to t(:persianas), persianas_path
  %div
    %p
      = section_link_to t(:aluminio), aluminio_path
    %p
      = section_link_to t(:alicantinas), alicantinas_path
    %p
      = section_link_to t(:celosias), celosias_path
    %p
      = section_link_to t(:accesorios), accesorios_path
  %h3.selector
    = section_link_to t(:rep_persianas), rep_persianas_path
  %div
    %p
      = section_link_to t(:c_obra), c_obra_path
    %p
      = section_link_to t(:c_exterior), c_exterior_path
    %p
      = section_link_to t(:monoblock), monoblock_path
  %h3.selector
    = section_link_to t(:rejas), rejas_path
  %div
    %p
      = section_link_to t(:r_ballesta), r_ballesta_path
    %p
      = section_link_to t(:r_ornamental), r_ornamental_path
    %p
      = section_link_to t(:r_rombo), r_rombo_path
    %p
      = section_link_to t(:r_clasica), r_clasica_path
    %p
      = section_link_to t(:r_rectangular), r_rectangular_path
  %h3.selector
    = section_link_to t(:cortinas), cortinas_path
  %div
    %p
      = section_link_to t(:c_venecianas), c_venecianas_path
    %p
      = section_link_to t(:c_enrollables), c_enrollables_path
    %p
      = section_link_to t(:c_verticales), c_verticales_path
    %p
      = section_link_to t(:c_plisadas), c_plisadas_path
    %p
      = section_link_to t(:c_plegables), c_plegables_path
  %h3.selector
    = section_link_to t(:motorizacion), motorizacion_path
  %div
    %p
      = section_link_to t(:mando_distancia_mini), mando_distancia_mini_path
    %p
      = section_link_to t(:mando_distancia_normal), mando_distancia_normal_path
    %p
      = section_link_to t(:motor_hidraulico), motor_hidraulico_path
    %p
      = section_link_to t(:motor_puertas), motor_puertas_path
    %p
      = section_link_to t(:motor_celosias), motor_celosias_path
    %p
      = section_link_to t(:motor_persianas), motor_persianas_path
    %p
      = section_link_to t(:motor_ventanas), motor_ventanas_path
    %p
      = section_link_to t(:motor_tubular), motor_tubular_path
    %p
      = section_link_to t(:pulsador), pulsador_path
    %p
      = section_link_to t(:veleta), veleta_path
  %h3.selector
    = section_link_to t(:contact), contact_path
  %div