%ul
  %li= section_link_to t(:home), root_path
  %li= section_link_to t(:reformas), reformas_path
  %li= section_link_to t(:estanterias), estanterias_path
  %li= section_link_to t(:altillos), altillos_path
  %li= section_link_to t(:carpinteria), carpinteria_path
  %li= section_link_to t(:toldos), toldos_path
  %li= section_link_to t(:persianas), persianas_path
  %li= section_link_to t(:rep_persianas), rep_persianas_path
  %li= section_link_to t(:rejas), rejas_path
  %li= section_link_to t(:cortinas), cortinas_path
  %li= section_link_to t(:motorizacion), motorizacion_path
  %li= section_link_to t(:contact), contact_path
