.rhm1
	.rhm1-right
	.rhm1-left
	.rhm1-bg
		%ul
			%li= section_link_to content_tag(:span, t(:home)), root_path
			%li= link_to content_tag(:span, "Biografia"), "/Biografia"
			%li= link_to content_tag(:span,"Discografia"), albums_path
			%li= link_to content_tag(:span, "Concerts"), concerts_path
			%li= link_to content_tag(:span, "Contractació"), "/Contractació"
			-#- @pages.each do |page|
				-#%li= link_to content_tag(:span, page.key), page.key