#language_menu
  %p=t("language", :scope => "menu_language")
  #flags
    %a{:href => "#"}
      %img{:alt => "spanish_language", :src => "/images/spanish_flag.png"}/
    %a{:href => "#"}
      %img{:alt => "england_language", :src => "/images/england_flag.png"}/

#menu
  %ul
    %li= section_link_to t(:home, :scope => "menu"), root_path
    %li= section_link_to t(:aboutus, :scope => "menu"), aboutus_path
    %li= section_link_to t(:findus, :scope => "menu"), findus_path
    %li= section_link_to t(:collection, :scope => "menu"), zapatitos_path
    %li= section_link_to t(:deportivas, :scope => "menu"), deportivas_path
    %li= section_link_to t(:reseller, :scope => "menu"), reseller_path
    %li= section_link_to t(:share, :scope => "menu"), share_path
    %li= section_link_to t(:press, :scope => "menu"), press_path
    %li= section_link_to t(:subscribe, :scope => "menu"), subscribe_path
    %li= section_link_to t(:news, :scope => "menu"), news_path
    %li= section_link_to t(:links, :scope => "menu"), links_path