.title
  %h3= t(:title, :scope => "side_bar.share")

%p= t(:paragraph_html, :scope => "side_bar.share")

#side_form
  %form{"accept-charset" => "UTF-8", :action => "/new_question", "data-remote" => "true", :method => "post"}
    %fieldset
      %label{:for => :name}= t(:name, :scope => "side_bar.questionnaire")
      %input{:id => "name", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :secondname}= t(:secondname, :scope => "side_bar.questionnaire")
      %input{:id => "secondname", :required => "required", :type => "text", :value => ""}/

      %label{:for => :mail}= t(:mail, :scope => "side_bar.questionnaire")
      %input{:id => "mail", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :message}= t(:message, :scope => "side_bar.questionnaire")
      %textarea{:id => "message", :required => "required"}

      %input#button{:name => "commit", :type => "submit", :value => "Enviar"}/

