#side_form
  .title
    %h3= t(:title, :scope => "side_bar.press")

  %p= t(:paragraph_html, :scope => "side_bar.press")

  %form{"accept-charset" => "UTF-8", :action => "/new_question", "data-remote" => "true", :method => "post"}
    %fieldset
      %label{:for => :editorial}= t(:editorial, :scope => "side_bar.press")
      %input{:id => "editorial", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :publication}= t(:publication, :scope => "side_bar.press")
      %input{:id => "publication", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :name}= t(:name, :scope => "side_bar.questionnaire")
      %input{:id => "name", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :secondname}= t(:secondname, :scope => "side_bar.questionnaire")
      %input{:id => "secondname", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :phone}= t(:phone, :scope => "side_bar.questionnaire")
      %input{:id => "phone", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :mail}= t(:mail, :scope => "side_bar.questionnaire")
      %input{:id => "mail", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :message}= t(:message, :scope => "side_bar.questionnaire")
      %textarea{:id => "message", :required => "required"}

      %input#button{:name => "commit", :type => "submit", :value => "Enviar"}/

      %p= t(:press_contact, :scope => "side_bar.press")