#questionaire_press

  #title
    %h3= t(:title, :scope => "side_bar.press")

  %p= t(:paragraph_html, :scope => "side_bar.press")
  %form{"accept-charset" => "UTF-8", :action => "/new_question", "data-remote" => "true", :method => "post"}
    %div{:style => "margin:0;padding:0;display:inline"}
      %input{:name => "utf8", :type => "hidden", :value => "&#x2713;"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "7F+N/YbtIH2OY4kFkCWOgdr+jxY6SEttYpg0SbMGN14="}/

    %label{:for => :editorial}= t(:editorial, :scope => "side_bar.press")
    %input.fill{:id => "editorial", :required => "required", :type => "text", :value => ""}/
    %br/

    %label{:for => :publication}= t(:publication, :scope => "side_bar.press")
    %input.fill{:id => "publication", :required => "required", :type => "text", :value => ""}/

    %label{:for => :name}= t(:name, :scope => "side_bar.questionnaire")
    %input.fill{:id => "name", :required => "required", :type => "text", :value => ""}/
    %br/

    %label{:for => :secondname}= t(:secondname, :scope => "side_bar.questionnaire")
    %input.fill{:id => "secondname", :required => "required", :type => "text", :value => ""}/
    
    %label{:for => :phone}= t(:phone, :scope => "side_bar.questionnaire")
    %input.fill{:id => "phone", :required => "required", :type => "text", :value => ""}/
    %br/

    %label{:for => :mail}= t(:mail, :scope => "side_bar.questionnaire")
    %input.fill{:id => "mail", :required => "required", :type => "text", :value => ""}/
    %br/

    %label{:for => :msg}= t(:message, :scope => "side_bar.questionnaire")
    %textarea#msg{:id => "msg", :required => "required"}

    %label{:for => :span}= t(:code_security, :scope => "side_bar.questionnaire")
    %input.fill{:id => "span", :required => "required", :type => "text", :value => ""}/

    %p= t(:privacy_terms_title, :scope => "side_bar.questionnaire")
    %p= t(:privacy_check_html, :scope => "side_bar.questionnaire")

    %input#button{:name => "commit", :type => "submit", :value => "Enviar"}/

    %p= t(:press_contact, :scope => "side_bar.press")