#side_form
  .title
    %h3= t(:title, :scope => "side_bar.find_us")

  %p= t(:paragraph_html, :scope => "side_bar.find_us")

  %form{"accept-charset" => "UTF-8", :action => "/new_question", "data-remote" => "true", :method => "post"}
    %fieldset
      %input{:class=> "checkbox" , :name => "category", :type => "radio", :value => ""}/
      %label.checkbox= t(:particular, :scope => "side_bar.questionnaire")
      %br/

      %label{:for => :name}= t(:name, :scope => "side_bar.questionnaire")
      %input{:id => "name", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :secondname}= t(:secondname, :scope => "side_bar.questionnaire")
      %input{:id => "secondname", :required => "required", :type => "text", :value => ""}/
      %br/

      .separation
      %input{:class=> "checkbox", :name => "category", :type => "radio", :value => ""}/
      %label.checkbox= t(:business, :scope => "side_bar.questionnaire")
      %br/

      %label{:for => :company}= t(:company, :scope => "side_bar.questionnaire")
      %input{:id => "company", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :name2}= t(:name, :scope => "side_bar.questionnaire")
      %input{:id => "name2", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :secondname2}= t(:secondname, :scope => "side_bar.questionnaire")
      %input{:id => "secondname2", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :charge}= t(:title, :scope => "side_bar.questionnaire")
      %input{:id => "charge", :required => "required", :type => "text", :value => ""}/
      %br/

      %h2= t(:interest, :scope => "side_bar.find_us")

      %input{:class=> "checkbox" , :name => "interest", :type => "radio", :value => ""}/
      %label.checkbox= t(:corners, :scope => "side_bar.find_us")
      %br/

      %input{:class=> "checkbox" , :name => "interest", :type => "radio", :value => ""}/
      %label.checkbox= t(:reseller, :scope => "side_bar.find_us")
      %br/

      .separator

      %label{:for => :state}= t(:state, :scope => "side_bar.questionnaire")
      %input{:id => "state", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :city}= t(:city, :scope => "side_bar.questionnaire")
      %input{:id => "city", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :mail}= t(:mail, :scope => "side_bar.questionnaire")
      %input{:id => "mail", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :message}= t(:message, :scope => "side_bar.questionnaire")
      %textarea{:id => "message", :required => "required"}

      %input#button{:name => "commit", :type => "submit", :value => "Enviar"}/

