= title (t ".title")

%h2 Concerts

= image_tag "/images/concerts/Josep_Romeu_-_concerts.jpg", :id => "concert-img"

%table#concerts
  %thead
    %tr
      %th Data 
      %th Població
      %th Lloc
      %th Hora
      %th Informació


  - @concerts.each do |concert|	
    %tr{:class => cycle('parell', 'senar')}
      %td= concert.date.strftime('%d/%m/%Y')
      %td= concert.city
      %td= concert.place
      %td= concert.date.strftime('%k:%M')
      %td= concert.event
%br