%h1 Llistat d'entrades

%table
  %tr
    %th Títol
    %th Data
    %th Usuari
    %th Comentaris
    -#%th Publicat
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.date
      %td= post.user.email
      %td= post.comments.size
      -#%td= post.published ? "Sí" : "No"
      %td= link_to 'Mostrar', [:admin, post]
      %td= link_to 'Editar', edit_admin_post_path(post)
      %td= button_to 'Eliminar', admin_post_path(post), :confirm => "N'estàs segur?", :method => :delete

%br

= link_to 'Nova entrada', new_admin_post_path
