- content_for :meta_description do
  = @post.body

%p
  %h3
    = @post.title
%p
  %b
    = pretty_date @post.date
    = "per #{@post.user}"
%p
  = raw @post.body
-#%p
  -#%b Published:
  -#= @post.published
%p
  %span#comments_count
    %b= pluralize(@post.comments.count, "Comentari")

  %div#comments
  - @post.comments.each do |comment|
    = render "comments/comment", :comment => comment
    %br

.actions
  = link_to 'Editar', edit_admin_post_path(@post)
  \|
  = link_to 'Enrere', admin_posts_path
