= title t(".title")

#areas
  %p=t ".first_paragraph_html"

  .separator

  .one_col
    %img{:alt => "Dret d’Estrangeria", :src => "/images/icon.png"}

  .note.twelve_col
    %p=t ".paragraph1_html"
    
  .clear

  %ul
    %li
      = link_to t('.area_list1'), penal_path
    %li
      = link_to t('.area_list2'), sucesions_path
    %li
      = link_to t('.area_list3'), familiar_path
    %li
      = link_to t('.area_list4'), civil_path

- content_for :photo do
  = render 'shared/areas'