= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "caj贸n exterior", :src => "/images/cajon_exterior.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "caj贸n exterior", :src => "/images/cajon_exterior2.jpg"}/
%p
  = t ".line2"
%h3
  = raw t ".line3"

%ul
  %li
    = t ".line4"
  %li
    = t ".line5"
  %li
    = t ".line6"
  %li
    = t ".line7"
  %li
    = t ".line8"

%p
  = t ".line9"

%ul
  %li
    = t ".line10"
  %li
    = t ".line11"

.separator

%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "caj贸n exterior", :src => "/images/cajon_exterior3.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "caj贸n exterior", :src => "/images/cajon_exterior4.jpg"}/
%p
  = t ".line12"