= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = raw t ".line3"
%p
  = raw t ".line4"




%ul
  %li
    = t ".line5"
  %li
    = t ".line6"
  %li
    = t ".line7"
  %li
    = t ".line8"
  %li
    = t ".line9"

.separator

%nav
  %ul
    %li
      %img{:alt => "persiana 1", :src => "/images/persiana1.jpg"}/
    %li
      %img{:alt => "persiana 2", :src => "/images/persiana2.jpg"}/
    %li
      %img{:alt => "persiana 1", :src => "/images/persiana3.jpg"}/
    %li
      %img{:alt => "persiana 2", :src => "/images/persiana4.jpg"}/
    %li
      %img{:alt => "persiana 1", :src => "/images/persiana5.jpg"}/
    %li
      %img{:alt => "persiana 2", :src => "/images/persiana6.jpg"}/
