= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"

%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "caj贸n de obra", :src => "/images/cajon_deobra1.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "caj贸n de obra", :src => "/images/cajon_deobra2.jpg"}/

.separator

%h3
  = t ".line2"

%ul.services
  %li
    = t ".line3"
  %li
    = t ".line4"
  %li
    = t ".line5"
  %li
    = t ".line6"
  %li
    = t ".line7"

.separator

%h3
  = t ".line8"

%ul.services
  %li
    = t ".line9"
  %li
    = t ".line10"

.separator
%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "caj贸n de obra", :src => "/images/cajon_deobra3.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "caj贸n de obra", :src => "/images/cajon_deobra4.jpg"}/

.separator
%p
  = t ".line11"