= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  =  t ".line2"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "cortinas venecianas", :src => "/images/cortinas_venecianas.jpg"}/
