= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = raw t ".line3"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "cortinas vertical", :src => "/images/cortina_vertical.jpg"}/