= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = t ".line3"
  
%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "Toldo Capota", :src => "/images/capota1.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "Toldo Capota", :src => "/images/capota2.jpg"}/