= title t(".title")

%h1
  = t ".subtitle"

%p
  = t ".line1"
%p
  = t ".line2"
  
%ul.services
  %li
    = t ".line3"
  %li
    = t ".line4"
  %li
    = t ".line5"
  %li
    = t ".line6"

.separator

%h2
  = t ".line7"
  
%nav
  %ul
    %li
      %img.thumbnail{:alt => "estanteria angulo ranurado", :src => "/images/estanteria_angulo_ranurado.jpg"}/
    %li
      %img.thumbnail{:alt => "estanteria angulo ranurado", :src => "/images/estanteria_angulo_ranurado2.jpg"}/
%p
  = raw t ".line8"
%p
  = t ".line9"
%p
  = t ".line10"
%p
  = raw t ".line11"

%h2
  = t ".line12"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "estanteria gondola", :src => "/images/estanteria_gondola.jpg"}/
    %li
      %img.thumbnail{:alt => "estanteria fruta", :src => "/images/estanteria_fruta.jpg"}/  
%p
  = raw t ".line13"
%p
  = t ".line14"
%p
  = raw t ".line15"

%h2
  = t ".line16"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "estanteria sin tornillos", :src => "/images/estanteria_stornillos1.jpg"}/
    %li
      %img.thumbnail{:alt => "estanteria sin tornillos", :src => "/images/estanteria_stornillos2.jpg"}/
%p
  = raw t ".line17"
%p
  = raw t ".line18"
%p
  = raw t ".line19"
%p
  = raw t ".line20"
%p
  = raw t ".line21"
%p
  = t ".line22"
%p
  = t ".line23"
%p
  = raw t ".line24"

%h2
  = t ".line25"
%nav
  %ul
    %li
      %img.thumbnail{:alt => "estanteria_cero", :src => "/images/estanteria_cero1.jpg"}/
    %li
      %img.thumbnail{:alt => "estanteria_cero", :src => "/images/estanteria_cero2.jpg"}/
%p
  = raw t ".line26"
%p
  = t ".line27"
%p
  = t ".line28"