= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
  
%ul.services
  %li
    = t ".line2"
  %li
    = t ".line3"

.separator

%h2
  = t ".line4"
  
%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "estante sin tornillo1", :src => "/images/estante_stornillo.jpg"}/
    %li
      %a{:href => "#pic2"}
        %img.thumbnail{:alt => "estante sin tornillo2", :src => "/images/estante_stornillo2.jpg"}/
%p
  = raw t ".line5"
%p
  = raw t ".line6"
%p
  = raw t ".line7"
%p
  = t ".line8"
%p
  = raw t ".line9"
%p
  = raw t ".line10"
%p
  = raw t ".line11"
  
%ul.services
  %li
    = t ".line12"
  %li
    = t ".line13"

.separator
    
%p
  = raw t ".line14"

%h2
  = t ".line15"

%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "estanteria carga media", :src => "/images/estanteria_carga_media.jpg"}/
    %li
      %a{:href => "#pic2"}
        %img.thumbnail{:alt => "estanteria carga media", :src => "/images/estanteria_carga_media2.jpg"}/
%p
  = raw t ".line16"
%p
  = t ".line17"
%p
  = t ".line18"
%p
  = t ".line19"