= title t(".title")

%h1
  = t ".subtitle"

%p
  = t ".line1"
%p
  = t ".line2"
  
%ul
  %li
    = t ".line3"
  %li
    = t ".line4"
  %li
    = t ".line5"
  %li
    = t ".line6"

.separator

%h2
  = t ".line7"
  
%p
  = t ".line8"
%p
  = t ".line9"
%p
  = t ".line10"
%p
  = t ".line11"

%h2
  = t ".line12"

%p
  = t ".line13"
%p
  = t ".line14"
%p
  = t ".line15"

%h2
  = t ".line16"

%p
  = t ".line17"
%p
  = t ".line18"
%p
  = t ".line19"
%p
  = t ".line20"
%p
  = t ".line21"
%p
  = t ".line22"
%p
  = t ".line23"
%p
  = t ".line24"
%p
  = t ".line25"
%p
  = t ".line26"
%p
  = t ".line27"
%p
  = t ".line28"