= title t(".title")

%h1#top
  = t ".subtitle"

%p
  = raw t ".line1"

%ul.services
  %li
    %a{:href => "#linkconvencional"}= t".line2"
  %li
    %a{:href => "#linkcompacta"}= t".line3"
  %li
    %a{:href => "#linkcantilever"}= t".line4"

%h2#linkconvencional
  = t ".line5"
%p
  = raw t ".line6"
%p
  = raw t ".line7"
%p
  = t ".line8"
%p
  = t ".line9"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/estanteria_paletizada.jpg"}/
    %li
      %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/estanteria_paletizada2.jpg"}/  

.up_button
  %a{:href => "#top"} Arriba
.line_separator

%h2#linkcompacta
  = t ".line10"
%p
  = raw t ".line11"
%nav
  %ul
    %li
      %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/estanteria_paletizada3.jpg"}/  

.up_button
  %a{:href => "#top"} Arriba
.line_separator

%h2#linkcantilever
  = t ".line12"
%p
  = raw t ".line13"
%p
  = raw t ".line14"
%nav
  %ul
    %li
      %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/estanteria_paletizada4.jpg"}/
.up_button
  %a{:href => "#top"} Arriba
.separator