= title t(".title")

%h1#top
  = t ".subtitle"
%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = raw t ".line3"
%p
  = raw t ".line4"
%p
  = t ".line5"

%ul.services
  %li
    = section_link_to t(:".line6"), carpinteria_path
  %li
    = section_link_to t(:".line7"), mallorquinas_path
  %li
    = section_link_to t(:".line8"), cerramientos_path
  %li
    = section_link_to t(:".line9"), porticon_path
  %li
    = section_link_to t(:".line10"), persianas_path
  %li
    = section_link_to t(:".line11"), ventanas_path
  %li
    = section_link_to t(:".line12"), techos_path
  %li
    = section_link_to t(:".line13"), mamparas_path
  %li
    = section_link_to t(:".line14"), mosquiteras_path
    
.separator

%nav
  %ul
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria1.jpg"}/
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria2.jpg"}/
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria3.jpg"}/
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria4.jpg"}/
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria5.jpg"}/
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria6.jpg"}/

.separator

%p
  = t ".line15"
  
.up_button
  %a{:href => "#top"} Arriba
.separator