= title t(".title")

%h1
  = t ".subtitle"
%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = raw t ".line3"
%p
  = raw t ".line4"
%p
  = t ".line5"

%ul
  %li
    = t ".line6"
  %li
    = t ".line7"
  %li
    = t ".line8"
  %li
    = t ".line9"
  %li
    = t ".line10"
  %li
    = t ".line11"
  %li
    = t ".line12"
  %li
    = t ".line13"
  %li
    = t ".line14"
    
.separator

%nav
  %ul
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria1.jpg"}/
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria2.jpg"}/
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria3.jpg"}/
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria4.jpg"}/
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria5.jpg"}/
    %li
      %img{:alt => "carpinteria", :src => "/images/carpinteria6.jpg"}/

.separator

%p
  = t ".line15"