= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = raw t ".line3"

%ul.services
  %li
    = t ".line4"
  %li
    = t ".line5"

.separator

%h2
  = t ".line6"
%p
  = raw t ".line7"
%p
  = raw t ".line8"

%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "Celosias", :src => "/images/celosias1.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "Celosias", :src => "/images/celosias2.jpg"}/

.separator

%h2
  = t ".line9"
%p
  = raw t ".line10"
%p
  = raw t ".line11"
  
%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "Celosias", :src => "/images/celosias3.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "Celosias", :src => "/images/celosias4.jpg"}/