= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = t ".line2"
%p
  = t ".line3"
%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "cerramientos", :src => "/images/cerramientos.jpg"}/
    %li
      %a{:href => "#pic2"}
        %img.thumbnail{:alt => "cerramientos", :src => "/images/cerramientos2.jpg"}/