<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>
<div class="separator_1"></div>

<div id="post_header">
  <h1><%= t('.header') %></h1>
</div>

<div id="manager_section">
  <div class="image_container"></div>
  <h2><%= raw t('.subtitle') %></h2>

  <p><%= raw t('.line1') %></p>

  <ul id="manager_list">
    <li><%= raw t('.line2') %></li>
    <li><%= raw t('.line3') %></li>
    <li><%= raw t('.line4') %></li>
    <li><%= raw t('.line5') %></li>
    <li><%= raw t('.line6') %></li>
    <li><%= raw t('.line7') %></li>
    <li><%= raw t('.line8') %></li>
    <li><%= raw t('.line9') %></li>
    <li><%= raw t('.line10') %></li>
  </ul>

  <p><%= raw t('.line11') %></p>

  <p><%= raw t('.line12') %></p>

  <div id="hrs_image"></div>

  <ul id="hours">
    <li><%= raw t('.line13') %></li>
    <li><%= raw t('.line14') %></li>
    <li><%= raw t('.line15') %></li>
  </ul>

  <p id="message"><%= raw t('.line17') %></p>
  
  <div id="request">
    <a rel="facebox" href="/question"><%=t("budget_link", :scope => "budget") %></a>
  </div>

  <div class="back_button"><a href="<%= servicios_path %>">Regresar a servicios</a></div>

</div>
