<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>
<div class="separator_1"></div>

<div id="post_header">
  <h1><%= t('.header') %></h1>
</div>

<div id="manager_section">

  <h2><%= t('.subtitle') %></h2>

  <p><%= t('.line1') %></p>

  <ul id="manager_list">
    <li><%= t('.line2') %></li>
    <li><%= t('.line3') %></li>
    <li><%= t('.line4') %></li>
    <li><%= t('.line5') %></li>
    <li><%= t('.line6') %></li>
    <li><%= t('.line7') %></li>
    <li><%= t('.line8') %></li>
    <li><%= t('.line9') %></li>
  </ul>

  <p><%= t('.line10') %></p>

  <p><%= t('.line11') %></p>

  <p><%= t('.line12') %></p>

  <div id="hrs_image"></div>

  <ul id="hours">
    <li><%= t('.line13') %></li>
    <li><%= t('.line14') %></li>
    <li><%= t('.line15') %></li>
  </ul>

  <p id="message"><%= t('.line17') %></p>
  <div class="separator_2"></div>
  <div class="back_button"><a href="<%= servicios_path %>">Regresar a servicios</a></div>

</div>