= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%p#contact
  = t ".line1"

#map_canvas

= content_for :custom_js do
  :javascript
     $(document).ready(function(){
       initializeMaps()
     } )


