<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>
<div class="separator_1"></div>

<div id="post_header">
  <h1><%= raw t('.header') %></h1>
</div>

<div id="contact">

  <div id="contact_info">
    <p>C/ Sierra de los Filabres 52, 28038, Madrid</p>
    <p>Tel/Fax: 91.494.63.58</p>
    <p>Móvil: 696.62.48.93</p>
    <p>E-Mail: <%= mail_to'info@mtcserviciosintegrales.com' , nil, :encode => :hex %></p>
  </div>

  <div id="map_canvas"></div>

</div>

<%= content_for :custom_js do %>
  <script type="text/javascript">
    initializeMaps()
  </script>
<% end %>
