= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = t ".line2"
%p
  = t ".line3"

%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "corredero", :src => "/images/corredero.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "corredero", :src => "/images/corredero2.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "corredero", :src => "/images/corredero3.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "corredero", :src => "/images/corredero4.jpg"}/
