= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%p
  = t ".line1"

%ul.services
  %li
    = section_link_to t(:".line2"), c_venecianas_path
  %li
    = section_link_to t(:".line3"), c_enrollables_path
  %li
    = section_link_to t(:".line4"), c_verticales_path
  %li
    = section_link_to t(:".line5"), c_plisadas_path
  %li
    = section_link_to t(:".line6"), c_plegables_path
