<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<div id="links">

  <h1><%=t(".subtitle") %></h1>

  <p class="first_p"><%=t('.first_paragraph') %></p>

  <ul class="servicios_list">
    <li class="links"><a href="http://www.seg-social.es/Internet_1/index.htm"><%=t('.link1') %></a></li>
    <li class="links"><a href="http://www.aeat.es/wps/portal/Home?channel=1af861cd949a1010VgnVCM100000d7005a80____&ver=L&site=56d8237c0bc1ff00VgnVCM100000d7005a80____&idioma=es_ES&menu=0&img=0"><%=t('.link2') %></a></li>
    <li class="links"><a href="http://www.gencat.cat/"><%=t('.link3') %></a></li>
  </ul>

</div>
