= title t(".title")

%p
  = t ".line1"

%p
  = t ".line2"

%p
  = t ".line3"

%p
  = t ".line4"

%p
  = t ".line5"

%ul
  %li
    =t ".line6"
  %li
    =t ".line7"
  %li
    =t ".line8"
    
#galeria1


%p
  = t ".line9"

%p
  = t ".line10"

%p
  = t ".line11"

%p
  = t ".line12"