= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = t ".line1"

%p
  = raw t ".line2"

%p
  = t ".line3"

%p
  = raw t ".line4"

%p
  = t ".line5"

%ul.services
  %li
    = section_link_to t(".line6"), cargaligera_path
  %li
    = section_link_to t(".line7"), cargamedia_path
  %li
    = section_link_to t(".line8"), cargagrande_path

.separator

%nav
  %ul
    %li
      %img{:alt => "estanteria 1", :src => "/images/estanterias1.jpg"}/
    %li
      %img{:alt => "estanteria 2", :src => "/images/estanterias2.jpg"}/
    %li
      %img{:alt => "estanteria 1", :src => "/images/estanterias3.jpg"}/
    %li
      %img{:alt => "estanteria 2", :src => "/images/estanterias4.jpg"}/
    %li
      %img{:alt => "estanteria 1", :src => "/images/estanterias5.jpg"}/
    %li
      %img{:alt => "estanteria 2", :src => "/images/estanterias6.jpg"}/

.separator

%p
  = t ".line9"

%p
  = t ".line10"

%p
  = t ".line11"

%p
  = t ".line12"
