= title t(".title")

#title
  %h1= t ".our_store"

#findus
  .seven_col
    %h3= t ".barcelona"
    %p.address=t ".address1_html"

    %h4= t ".phone"
    %p=t ".phone_number1_html"

    %h4= t ".horary"
    %p= t ".horary_number1_html"
    %p= t ".saturday1_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zapatareria Artesa", :src => "/images/artesa.png"}/

  .separation_line

  .seven_col
    %p.address= t ".address2_html"

    %h4= t ".phone"
    %p= t ".phone_number2_html"

    %h4= t ".horary"
    %p= t ".horary_number2_html"
    %p= t ".saturday2_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zapatareria san Juan", :src => "/images/bosco.png"}/

  .separation_line

  .seven_col
    %p.address=t ".address5_html"

    %h4= t ".phone"
    %p=t ".phone_number5_html"

    %h4= t ".horary"
    %p= t ".horary_number5_html"
    %p= t ".saturday5_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria san Jordi", :src => "/images/aribau.png"}/

  .separation_line

  .seven_col
    %h3=t ".s_cugat"
    %p.address=t ".address3_html"

    %h4= t ".phone"
    %p=t ".phone_number3_html"

    %h4= t ".horary"
    %p= t ".horary_number3_html"
    %p= t ".saturday3_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria san Juan", :src => "/images/cugat.png"}/

  .separation_line

  .seven_col
    %h3= t ".bilbao"
    %p.address= t ".address8_html"

    %h4= t ".phone"
    %p= t ".phone_number8_html"

    %h4= t ".horary"
    %p= t ".horary_number8_html"
    %p= t ".saturday8_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/bilbao.png"}/

  .separation_line

  .seven_col
    %h3= t ".palma_de_mallorca."
    %p.address= t ".address16_html"

    %h4= t ".phone"
    %p= t ".phone_number16_html"

    %h4= t ".horary"
    %p= t ".horary_number16_html"
    %p= t ".sunday3"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/palma.png"}/

  .separation_line

  .seven_col
    %h3= t ".zaragoza"
    %p.address=t ".address7_html"

    %h4= t ".phone"
    %p=t ".phone_number7_html"

    %h4= t ".horary"
    %p= t ".horary_number7_html"
    %p= t ".saturday7_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/zaragoza.png"}/

  .separation_line

  .seven_col
    %h3= t ".logrono"
    %p.address= t ".address6_html"

    %h4= t ".phone"
    %p= t ".phone_number6_html"

    %h4= t ".horary"
    %p= t ".horary_number6_html"
    %p= t ".saturday6_html"
    %p= t ".sunday2"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/rioja.png"}/

  .separation_line

  .seven_col
    %h3= t ".huesca"
    %p.address= t ".address16"

    %h4= t ".phone"
    %p= t ".phone_number16"

    %h4= t ".horary"
    %p= t ".horary_number16"


    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/rioja.png"}/

  .separation_line

  .seven_col
    %h3= t ".andorra"
    %p.address=t ".address9_html"
    %p.address=t ".zip_code9_html"

    %h4= t ".phone"
    %p=t ".phone_number9_html"

    %h4= t ".horary"
    %p= t ".horary_number9_html"
    %p= t ".saturday9_html"
    %p= t ".sunday1"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/andorra.png"}/

  .separation_line

  %h2.corners= t ".corners_html"

  .seven_col
    %h3= t ".paris"
    %p.address=t ".name5"
    %p.address= t ".address17"

    %h4= t ".phone"
    %p= t ".phone_number17"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    
  .separation_line

  .seven_col
    %h3= t ".madrid"
    %p.address=t ".name1"
    %p.address= t ".address14_html"

    %h4= t ".phone"
    %p= t ".phone_number14_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col

  .separation_line

  .seven_col
    %h3= t ".coruna"
    %p.address=t ".name2"
    %p.address= t ".coruna_address"

    %h4= t ".phone"
    %p= t ".phone_number10_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col

  .separation_line

  .seven_col
    %h3= t ".canarias"
    %p.address= t ".name3"
    %p.address= t ".address15_html"

    %h4= t ".phone"
    %p= t ".phone_number15_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col

  .separation_line

  .seven_col
    %h3= t ".reus"
    %p.address= t ".name4"
    %p.address= t ".address10_html"

    %h4= t ".phone"
    %p= t ".phone_number10_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col

  .clear



#up_button
  %a{:href => "#findus"} Subir


- content_for :info_box do
  = render 'shared/questionaire_findus'
