= title t(".title")

#title
  %h1= t ".our_store"

#findus
  %h2= t ".shoestore"

  .seven_col
    %h3= t ".barcelona"
    %p.address=t ".address1_html"
    %p.address=t ".zip_code_html"

    %h4= t ".phone"
    %p=t ".phone_number1_html"

    %h4= t ".horary"
    %p= t ".horary_number1_html"
    %p= t ".saturday1_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zapatareria Artesa", :src => "/images/artesa_store.jpg"}/

  .separation_line

  .seven_col
    %p.address= t ".address2_html"
    %p.address=t ".zip_code2_html"

    %h4= t ".phone"
    %p= t ".phone_number2_html"

    %h4= t ".horary"
    %p= t ".horary_number2_html"
    %p= t ".saturday2_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zapatareria san Juan", :src => "/images/sanjuan_store.jpg"}/

  .separation_line

  .seven_col
    %p.address=t ".address3_html"
    %p.address=t ".zip_code3_html"

    %h4= t ".phone"
    %p=t ".phone_number3_html"

    %h4= t ".horary"
    %p= t ".horary_number3_html"
    %p= t ".saturday3_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria san Jordi", :src => "/images/sanjordi_store.jpg"}/

  .separation_line

  .seven_col
    %p.address= t ".address4_html"
    %p.address=t ".zip_code4_html"

    %h4= t ".phone"
    %p= t ".phone_number4_html"

    %h4= t ".horary"
    %p= t ".horary_number4_html"
    %p= t ".saturday4_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria san Juan", :src => "/images/sanjuan_store.jpg"}/

  .separation_line

  .seven_col
    %p.address=t ".address5_html"
    %p.address=t ".zip_code5_html"

    %h4= t ".phone"
    %p=t ".phone_number5_html"

    %h4= t ".horary"
    %p= t ".horary_number5_html"
    %p= t ".saturday5_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria san Jordi", :src => "/images/sanjordi_store.jpg"}/

  .separation_line

  .seven_col
    %h3= t ".larioja"
    %p.address= t ".address6_html"
    %p.address=t ".zip_code6_html"

    %h4= t ".phone"
    %p= t ".phone_number6_html"

    %h4= t ".horary"
    %p= t ".horary_number6_html"
    %p= t ".saturday6_html"


    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/artesa_store.jpg"}/

  .separation_line

  .seven_col
    %h3= t ".zaragoza"
    %p.address=t ".address7_html"
    %p.address=t ".zip_code7_html"

    %h4= t ".phone"
    %p=t ".phone_number7_html"

    %h4= t ".horary"
    %p= t ".horary_number7_html"
    %p= t ".saturday7_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/artesa_store.jpg"}/

  .separation_line

  .seven_col
    %h3= t ".bilbao"
    %p.address= t ".address8_html"
    %p.address=t ".zip_code8_html"

    %h4= t ".phone"
    %p= t ".phone_number8_html"

    %h4= t ".horary"
    %p= t ".horary_number8_html"
    %p= t ".saturday8_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/artesa_store.jpg"}/

  .separation_line

  .seven_col
    %h3= t ".andorra"
    %p.address=t ".address9_html"
    %p.address=t ".zip_code9_html"

    %h4= t ".phone"
    %p=t ".phone_number9_html"

    %h4= t ".horary"
    %p= t ".horary_number9_html"
    %p= t ".saturday9_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/artesa_store.jpg"}/

  .separation_line

  %h2.corners= t ".corners_html"

  .seven_col
    %h3= t ".larioja"
    %p.address= t ".address10_html"
    %p.address=t ".zip_code10_html"

    %h4= t ".phone"
    %p= t ".phone_number10_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria Artesa", :src => "/images/artesa_store.jpg"}/

  .separation_line

  .seven_col
    %p.address=t ".address11_html"
    %p.address=t ".zip_code11_html"

    %h4= t ".phone"
    %p=t ".phone_number11_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria san Juan", :src => "/images/sanjuan_store.jpg"}/

  .separation_line

  .seven_col
    %h3= t ".bilbao"
    %p.address= t ".address12_html"
    %p.address=t ".zip_code12_html"

    %h4= t ".phone"
    %p= t ".phone_number12_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .six_col
    %img{:alt => "Zpatareria san Jordi", :src => "/images/sanjordi_store.jpg"}/

  .separation_line

  .seven_col
    %p.address=t ".address13_html"
    %p.address=t ".zip_code13_html"

    %h4= t ".phone"
    %p=t ".phone_number13_html"

    .map
      %a{:href => "#"}= t ".map_html"

  .clear


#up_button
  %a{:href => "#findus"} Subir


- content_for :info_box do
  = render 'shared/questionaire_findus'
