- title t(".title")

%h1
  = t(".subtitle")

%p{:id => "first_paragraph"}
  = t(".paragraph1")

.line_separator


%h2
  = t(".subtitle1")

%p
  = t(".paragraph1")
  
.up_button
  %a{:href => "#"} Arriba

.line_separator


%h2
  = t(".subtitle2")

%p
  = t(".paragraph2")
  
.up_button
  %a{:href => "#"} Arriba

.line_separator


%h2
  = t(".subtitle3")

%p
  = t(".paragraph3")
  
.up_button
  %a{:href => "#"} Arriba

.line_separator


%h2
  = t(".subtitle4")

%p
  = t(".paragraph4")
  
.up_button
  %a{:href => "#"} Arriba