= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".line1"

.separator

.image
  %img{:alt => "imagen principal", :src => "/images/pic1.jpg"}/

.separator

%p.first_paragraph
  = raw t ".line2"
%p
  = raw t ".line3"
%p
  = raw t ".line4"
%p
  = raw t ".line5"
%p
  = raw t ".line6"

