<%= title t(".title") %>


<div id="header">
  <div id="header_photo"></div>
  <h1><%=t('.principal_phrase') %></h1>
</div>

<div id="home">

  <p><%=t('.phrase') %></p>

  <div class="services_block">
    <h2><a href="#"><%=t('.juridica') %></a></h3>
    <p><%=t('.p_juridica') %></p>
  </div>

  <div class="services_block">
    <h2><a href="#"><%=t('.fiscal') %></a></h3>
    <p><%=t('.p_fiscal') %></p>
  </div>

  <div class="services_block">
    <h2><a href="#"><%=t('.contable') %></a></h3>
    <p><%=t('.p_contable') %></p>
  </div>

  <div class="services_block">
    <h2><a href="#"><%=t('.otroservicios') %></a></h3>
    <p><%=t('.p_otroservicios') %></p>
  </div>

  <div class="clear"></div>

  <div class="line_separation"></div>

  <div id="chinese_wrap">
    <div id="chinese_text">
    <a class="tooltip" href="#">
      <p> 我们为您设置了专业化的亚洲商务服务中心，通过专业翻译让您可以用中文自由 地和我们交流。并通过此项服务，我们希望能为您解决所有的疑惑，问题以及您 所需要了解的一切</p>
      <p> 我们的团队由专业财务，劳务，会计和法律管理顾问组成，向您提供高质量专业 化的服务，最终目标是更贴近地理解您的商贸活动需求，了解您公司的疑惑和兴趣，更好的为您服务。</p>
      <span class="traduccion">
        <p><%=t('.title_translate') %> </p>
        <%=t('.traduccion') %>
      </span>
    </a>
    <div class="ribbon"></div>
    </div>
  </div>

  <div class="line_separation"></div>

  <div id="news_area">
    <h3><%=t('.news') %></h3>
    <ul>
      <li> <a href="#">HOLA mkeijeifjheu38hudh3uhd</a></li>
      <li><a href="#">HOLA nhddhjiwdidiwdjijwijdwijdwijdwidjwidjwidjwdiwjdijdiw</a></li>
      <li><a href="#">HOLA uusus9  idijid sjwijwi diwjiwj</a></li>
      <li><a href="#">HOLA uusus9  idijid sjwijwi diwjiwj</a></li>
    </ul>
  </div>

</div>
