- title t(".title")

%h1
  = t(".subtitle")

%p{:id => "first_paragraph"}
  = t(".paragraph1")

.line_separator


%h2
  = t(".subtitle1")

%p
  = t(".paragraph1")

.line_separator


%h2
  = t(".subtitle2")

%p
  = t(".paragraph2")