<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<div id="header">
  <div id="header_photo"></div>
  <h1><%=t('.principal_phrase') %></h1>
</div>

<div id="home">

  <p><%=t('.phrase') %></p>

  <div class="servicios_block">
    <h2><%= link_to (t ".juridical"), servicios_path(:anchor => "juridical_section"), :title => t(".juridical") %></h2>
    <p><%=t('.p_juridical') %></p>
  </div>

  <div class="servicios_block">
    <h2><%= link_to (t :".fiscal"), servicios_path(:anchor => "fiscal_section"), :title => t(".fiscal") %></h2>
    <p><%=t('.p_fiscal') %></p>
  </div>
  
  <div class="clear"></div>
  
  <div class="servicios_block">
    <h2><%= link_to (t :".financial"), servicios_path(:anchor => "financial_section"), :title => t(".financial") %></h2>
    <p><%=t('.p_financial') %></p>
  </div>
  
  <div class="servicios_block">
    <h2><%= link_to (t :".other_servicios"), servicios_path(:anchor => "otros_section"), :title => t(".other_servicios") %></h2>
      <p><%=t('.p_other_servicios') %></p>
  </div>

  <div class="clear"></div>

  <div class="line_separation"></div>

  <div id="chinese_wrap">
    <div id="chinese_text">
    <a class="tooltip" href="#">
      <p> 我们为您设置了专业化的亚洲商务服务中心，通过专业翻译让您可以用中文自由 地和我们交流。并通过此项服务，我们希望能为您解决所有的疑惑，问题以及您 所需要了解的一切</p>
      <p> 我们的团队由专业财务，劳务，会计和法律管理顾问组成，向您提供高质量专业 化的服务，最终目标是更贴近地理解您的商贸活动需求，了解您公司的疑惑和兴趣，更好的为您服务。</p>
      <span class="traduccion">
        <p><%=t('.title_translate') %> </p>
        <%=t('.traduccion') %>
      </span>
    </a>
    <div class="ribbon"></div>
    </div>
  </div>

  <div class="line_separation"></div>

  <div id="news_area">
    <h3><%=t('.news') %></h3>
    <ul>
      <li><%= link_to (t :".flash_news1"), noticias_path, :title => t(".title_news") %></li>
      <li><%= link_to (t :".flash_news2"), noticias_path, :title => t(".title_news") %></li>
      <li><%= link_to (t :".flash_news3"), noticias_path, :title => t(".title_news") %></li>
      <li><%= link_to (t :".flash_news4"), noticias_path, :title => t(".title_news") %></li>
    </ul>
  </div>

</div>
