= title t(".title")

%h1
  = t ".line1"

#first_pic
  %img{:alt => "imagen principal", :src => "/images/pic1.jpg"}/

%p
  = raw t ".line2"
%p
  = raw t ".line3"
%p
  = raw t ".line4"
%p
  = raw t ".line5"
%p
  = raw t ".line6"

