- title t(".title")

%h1
  = t(".subtitle")

%p{:id => "first_paragraph"}
  = t(".paragraph1")

.line_separator


%h2
  = t(".subtitle1")

%p
  = t(".paragraph1")
  .read_more
    = section_link_to t(".read_more"), particular_path
  
.up_button
  %a{:href => "#"} Arriba

.line_separator


%h2
  = t(".subtitle2")

%p
  = t(".paragraph2")
  .read_more
    = section_link_to t(".read_more"), empresas_path
  
.up_button
  %a{:href => "#"} Arriba

.line_separator


%h2
  = t(".subtitle3")

%p
  = t(".paragraph3")
  .read_more
    = section_link_to t(".read_more"), finques_path
  
.up_button
  %a{:href => "#"} Arriba

.line_separator


%h2
  = t(".subtitle4")

%p
  = t(".paragraph4")
  .read_more
    = section_link_to t(".read_more"), seguros_path
  
.up_button
  %a{:href => "#"} Arriba