<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<div id="post_header">
  <h1><%= t('.paragraph1') %></h1>
</div>

<div id="index">
  <p><%= raw t('.paragraph2') %></p>
  <p><%= raw t('.paragraph3') %></p>

  <div id="promociones">
    <p><%= raw t('.index_promociones') %>
    <%= link_to (t :".index_promociones2"), promociones_path%></p>
  </div>

  <div id="services_list">
    <div id="first_services_block">
      <h3 class="clean"><%= link_to (t".clean"), limpieza_path, :title => t(".clean") %></h3>
      <ul>
        <li><%= raw t('.clean1') %></li>
        <li><%= raw t('.clean2') %></li>
        <li><%= raw t('.clean3') %></li>
        <li><%= raw t('.clean4') %></li>
        <li><%= raw t('.clean5') %></li>
        <li><%= raw t('.clean6') %></li>
      </ul>
    </div>

    <div class="second_services_block">
      <h3 class="manager"><%= link_to (t".manager"), conserjeria_path, :title => t(".manager") %></h3>
      <ul>
        <li><%= raw t('.manager1') %></li>
        <li><%= raw t('.manager2') %></li>
        <li><%= raw t('.manager3') %></li>
        <li><%= raw t('.manager4') %></li>
      </ul>
    </div>

    <div class="second_services_block">
      <h3 class="pool"><%= link_to (t".pool"), piscinas_path, :title => t(".pool") %></h3>
      <ul>
        <li><%= raw t('.pool1') %></li>
        <li><%= raw t('.pool2') %></li>
      </ul>
    </div>

    <div class="second_services_block">
      <h3 class="garden"><%= link_to (t".garden"), jardineria_path, :title => t(".garden") %></h3>
      <ul>
        <li><%= raw t('.garden1') %></li>
        <li><%= raw t('.garden2') %></li>
        <li><%= raw t('.garden3') %></li>
        <li><%= raw t('.garden4') %></li>
      </ul>
    </div>
    <div id="presupuesto"><a rel="facebox" href="/question"> Solicitar Presupuesto</a></div>
  </div>

</div>
