<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>
<div class="separator_1"></div>

<h2>Jardineria</h2>
<div class="separator_1"></div>

<div class="separator_1"></div>

<div id="garden">

  <p><%= raw t('.f_paragraph') %></p>
  <div class="separator_1"></div>

  <p><%= raw t('.line1') %></p>
  <div class="separator_1"></div>

  <h3><%= raw t('.line2') %></h3>
  <ul>
    <li><%= raw t('.line3') %></li>
    <li><%= raw t('.line4') %></li>
    <li><%= raw t('.line5') %></li>
    <li><%= raw t('.line6') %></li>
  </ul>

  <div class="separator_1"></div>

  <h3><%= raw t('.line7') %></h3>
  <p><%= raw t('.line8') %></p>

  <ul>
    <li><%= raw t('.line9') %></li>
    <li><%= raw t('.line10') %></li>
    <li><%= raw t('.line11') %></li>
    <li><%= raw t('.line12') %></li>
    <li><%= raw t('.line13') %></li>
    <li><%= raw t('.line14') %></li>
  </ul>
  <div class="separator_2"></div>
  <div class="back_button"><a href="<%= servicios_path %>">Regresar a servicios</a></div>


</div>
