<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>
<div class="separator_1"></div>

<div id="post_header">
  <h1><%= raw t('.header') %></h1>
</div>

<div id="garden_section">
  <div class="image_container"></div>
  <h2><%= raw t('.subtitle') %></h2>

  <p><%= raw t('.f_paragraph') %></p>

  <p><%= raw t('.line1') %></p>

  <h3><%= raw t('.line2') %></h3>
  <ul>
    <li><%= raw t('.line3') %></li>
    <li><%= raw t('.line4') %></li>
    <li><%= raw t('.line5') %></li>
    <li><%= raw t('.line6') %></li>
  </ul>

  <h3><%= raw t('.line7') %></h3>
  <p><%= raw t('.line8') %></p>

  <ul>
    <li><%= raw t('.line9') %></li>
    <li><%= raw t('.line10') %></li>
    <li><%= raw t('.line11') %></li>
    <li><%= raw t('.line12') %></li>
    <li><%= raw t('.line13') %></li>
    <li><%= raw t('.line14') %></li>
  </ul>

  <div id="request" class="forward_button">
    <a rel="facebox" href="/question"><%=t("budget_link", :scope => "budget") %></a>
  </div>

  <div class="back_button"><a href="<%= servicios_path %>">Regresar a servicios</a></div>

</div>
