<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<h2>Limpieza</h2>
<div class="separator_1"></div>

<div class="separator_1"></div>

<div id="clean">
  <p><%= raw t('.f_paragraph') %></p>
  <div class="separator_1"></div>

  <h3><%= raw t('.line1') %></h3>
  <p><%= raw t('.line2') %></p>
  <div class="separator_1"></div>


  <h3><%= raw t('.line3') %></h3>
  <p><%= raw t('.line4') %></p>
  <div class="separator_1"></div>


  <h3><%= raw t('.line5') %></h3>
  <p><%= raw t('.line6') %></p>

  <div class="separator_1"></div>
  <p id="question"><%= raw t('.line7') %></p>

  <div class="separator_1"></div>
  <a href="<%= root_path %>"><%= raw t('.line8') %></a>

  <div class="separator_2"></div>
  <div class="back_button"><a href="<%= servicios_path %>">Regresar a servicios</a></div>
</div>
