<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<div id="post_header">
  <h1><%= t('.header') %></h1>
</div>

<div id="clean_section">

  <h2><%= t('.subtitle') %></h2>
  <p><%= t('.f_paragraph') %></p>

  <h3><%= t('.line1') %></h3>
  <p><%= t('.line2') %></p>

  <h3><%= t('.line3') %></h3>
  <p><%= t('.line4') %></p>

  <h3><%= t('.line5') %></h3>
  <p><%= t('.line6') %></p>

  <p id="caring_bio"><%= t('.line7') %></p>

  <div id="request">
    <a href="<%= root_path %>"><%= t('.line8') %></a>
  </div>

  <div class="back_button"><a href="<%= servicios_path %>">Regresar a servicios</a></div>

</div>