= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = t ".line1"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "Marquesinas", :src => "/images/marquesina1.jpg"}/
    %li
      %img.thumbnail{:alt => "Marquesinas", :src => "/images/marquesina2.jpg"}/
    %li
      %img.thumbnail{:alt => "Marquesinas", :src => "/images/marquesina3.jpg"}/
