= title t(".title")

%h1#top
  = t ".subtitle"

%p
  = raw t ".line1"
  
%ul.services
  %li
    %a{:href => "#linkguillotina"}= t".line2"
  %li
    %a{:href => "#linkpivotante"}= t".line3"
  %li
    %a{:href => "#linkpremarcos"}= t".line4"
  %li
    %a{:href => "#linknormalizados"}= t".line5"

.separator

%h2#linkguillotina
  = t ".line6"
%p
  = raw t ".line7"
%p
  = t ".line8"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "modelos", :src => "/images/modelos1.jpg"}/

.up_button
  %a{:href => "#top"} Arriba
.line_separator

%h2#linkpivotante
  = t ".line9"
%p
  = raw t ".line10"
%p
  = t ".line11"
  
%nav
  %ul
    %li
      %img.thumbnail{:alt => "modelos", :src => "/images/modelos4.jpg"}/
    %li
      %img.thumbnail{:alt => "modelos", :src => "/images/modelos5.jpg"}/
    
.up_button
  %a{:href => "#top"} Arriba
.line_separator

%h2#linkpremarcos
  = t ".line12"
%p
  = raw t ".line13"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "modelos", :src => "/images/modelos1.jpg"}/

.up_button
  %a{:href => "#top"} Arriba
.line_separator

%h2#linknormalizados
  = t ".line14"
%p
  = raw t ".line15"
%p
  = t ".line16"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "modelos", :src => "/images/modelos3.jpg"}/


.up_button
  %a{:href => "#top"} Arriba
.separator