= title t(".title")

%h1
  = t ".subtitle"

%p
  = t ".line1"
  
%ul
  %li
    = t ".line2"
  %li
    = t ".line3"
  %li
    = t ".line4"
  %li
    = t ".line5"

.separator

%h2
  = t ".line6"
%p
  = t ".line7"
%p
  = t ".line8"
%h2
  = t ".line9"
%p
  = t ".line10"
%p
  = t ".line11"

