= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "motor persianas", :src => "/images/motor_persianas.jpg"}/
