= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = raw t ".line1"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "motor hidraulico", :src => "/images/motor_hidraulico.jpg"}/
