= title t(".title")

%p
  = t ".line1"

%ul.services
  %li
    = section_link_to t(:".line2"), mando_distancia_mini_path
  %li
    = section_link_to t(:".line3"), mando_distancia_normal_path
  %li
    = section_link_to t(:".line4"), motor_hidraulico_path
  %li
    = section_link_to t(:".line5"), motor_puertas_path
  %li
    = section_link_to t(:".line6"), motor_celosias_path
  %li
    = section_link_to t(:".line7"), motor_persianas_path
  %li
    = section_link_to t(:".line8"), motor_ventanas_path
  %li
    = section_link_to t(:".line9"), motor_tubular_path
  %li
    = section_link_to t(:".line10"), pulsador_path
  %li
    = section_link_to t(:".line11"), veleta_path

