<div id="aboutus">

  <%= title t(".title") %>
  
  <h1><%=t(".subtitle") %></h1>
  
  <div id="header_aboutus">
    <div id="aboutus_photo"></div>
    <p><%=t('.first_us_p') %></p>
  </div>

  <div class="block">
    <p><%=t('.us') %></p>
  </div>

  <div class="block">
    <p><%=t('.us2') %></p>
  </div>
  
  <div class="clear"></div>
  
</div>
