<%= title t(".title") %>

<div id="info">
  <div class="separator"></div>
  <h1><%=t(".subtitle") %></h1>
  <div class="separator"></div>
  
  <div id="us">
    <div id="p_photo"></div>
    <p class="first_p"><%=t('.first_us_p') %></p>
    <div class="separator"></div>

    <div class="block1">
      <p><%=t('.us') %></p>
    </div>

    <div class="block2">
      <p><%=t('.us2') %></p>
    </div>
  </div>
  <div class="clear"></div>
  
</div>