<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<div id="news">
  <h1><%=t(".subtitle") %></h1>

  <%= @posts.each do |post| %>
    <div class="block1">
      <h2><%= post.title %></h2>
      <div class="news_content">
        <%= simple_format post.body %>
      </div>
      <div class="clear"></div>
      <div class="date"><p> Fecha: <%= l post.created_at.to_date %></p></div>
    </div>
  <% end %>

</div>

