= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = t ".line1"
%p
  = t ".line2"
%p
  = t ".line3"
%p
  = t ".line4"
%p
  = t ".line5"
%p
  = t ".line6"

%ul.services
  %li
    = section_link_to t(:".line7"), aluminio_path
  %li
    = section_link_to t(:".line8"), alicantinas_path
  %li
    = section_link_to t(:".line9"), celosias_path
  %li
    = section_link_to t(:".line10"), accesorios_path

.separator

%nav
  %ul
    %li
      %img{:alt => "persiana 1", :src => "/images/persiana1.jpg"}/
    %li
      %img{:alt => "persiana 2", :src => "/images/persiana2.jpg"}/
    %li
      %img{:alt => "persiana 1", :src => "/images/persiana3.jpg"}/
    %li
      %img{:alt => "persiana 2", :src => "/images/persiana4.jpg"}/
    %li
      %img{:alt => "persiana 1", :src => "/images/persiana5.jpg"}/
    %li
      %img{:alt => "persiana 2", :src => "/images/persiana6.jpg"}/

.separator
