<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<h2>Piscinas</h2>
<div class="separator_1"></div>
<div id="pool">
  <p><%= t('.line1') %></p>
  <div class="separator_1"></div>

  <p><%= t('.line2') %></p>
  <div class="separator_1"></div>

  <p><%= t('.line3') %></p>
  <div class="separator_1"></div>

  <p id="message"><%= t('.line4') %></p>
  <div class="separator_1"></div>

  <p><%= t('.line5') %></p>
  <div class="separator_1"></div>

  <h3><%= t('.line6') %></h3>
  <ul>
    <li><%= t('.line7') %></li>
    <li><%= t('.line8') %></li>
    <li><%= t('.line9') %></li>
    <li><%= t('.line10') %></li>
  </ul>
  <div class="separator_1"></div>

  <h3><%= t('.line11') %></h3>
  <ul>
    <li><%= t('.line12') %></li>
    <li><%= t('.line13') %></li>
    <li><%= t('.line14') %></li>
    <li><%= t('.line15') %></li>
  </ul>
  <div class="separator_1"></div>

  <p><%= t('.line16') %></p>
  <div class="separator_1"></div>

  <p><%= t('.line17') %></p>

  <div class="separator_2"></div>
  <div class="back_button"><a href="<%= servicios_path %>">Regresar a servicios</a></div>
</div>
