<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<div id="post_header">
  <h1><%= t('.header') %></h1>
</div>

<div id="pool_section">
  <div class="image_container"></div>
  <h2><%= raw t('.subtitle') %></h2>

  <p><%= raw t('.line1') %></p>
  <p><%= raw t('.line2') %></p>
  <p><%= raw t('.line3') %></p>

  <p id="message"><%= t('.line4') %></p>

  <p><%= raw t('.line5') %></p>

  <h3><%= raw t('.line6') %></h3>
  <ul>
    <li><%= raw t('.line7') %></li>
    <li><%= raw t('.line8') %></li>
    <li><%= raw t('.line9') %></li>
  </ul>

  <h3><%= raw t('.line10') %></h3>
  <ul>
    <li><%= raw t('.line11') %></li>
  </ul>
  <ul>
    <li><%= raw t('.line12') %></li>
    <li><%= raw t('.line13') %></li>
    <li><%= raw t('.line14') %></li>
    <li><%= raw t('.line15') %></li>
  </ul>

  <p><%= raw t('.line16') %></p>
  <p><%= raw t('.line17') %></p>

  <div id="request">
    <a rel="facebox" href="/question"><%=t("budget_link", :scope => "budget") %></a>
  </div>

  <div class="back_button"><a href="<%= servicios_path %>">Regresar a servicios</a></div>
</div>
