<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<div id="post_header">
  <h1><%= t('.header') %></h1>
</div>

<div id="pool_section">
  <h2><%= t('.subtitle') %></h2>

  <p><%= t('.line1') %></p>
  <p><%= t('.line2') %></p>
  <p><%= t('.line3') %></p>

  <p id="message"><%= t('.line4') %></p>

  <p><%= t('.line5') %></p>

  <h3><%= t('.line6') %></h3>
  <ul>
    <li><%= t('.line7') %></li>
    <li><%= t('.line8') %></li>
    <li><%= t('.line9') %></li>
    <li><%= t('.line10') %></li>
  </ul>

  <h3><%= t('.line11') %></h3>
  <ul>
    <li><%= t('.line12') %></li>
    <li><%= t('.line13') %></li>
    <li><%= t('.line14') %></li>
    <li><%= t('.line15') %></li>
  </ul>

  <p><%= t('.line16') %></p>
  <p><%= t('.line17') %></p>

  <div class="back_button"><a href="<%= servicios_path %>">Regresar a servicios</a></div>
</div>