<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<div class="separator_1"></div>
<h2>Promociones</h2>

<div class="separator_1"></div>

<p><%= t('.line1') %></p>

<div class="separator_1"></div>

<ul id="promociones">
  <li><%= raw t('.line2') %></li>
  <li><%= raw t('.line3') %></li>
  <li><%= raw t('.line4') %></li>
  <li><%= raw t('.line5') %></li>
</ul>

<div class="separator_1"></div>

<p><%= t('.line6') %></p>

<div class="separator_1"></div>
