<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<div id="post_header">
  <h1><%= t('.header') %></h1>
</div>

<div id="promotions">

  <h2><%= raw t('.subtitle') %></h2>

  <p><%= raw t('.line1') %></p>

  <ul>
    <li><%= raw t('.line2') %></li>
    <li><%= raw t('.line3') %></li>
    <li><%= raw t('.line4') %></li>
    <li><%= raw t('.line5') %></li>
  </ul>

  <p><%= raw t('.line6') %></p>

</div>
