= title t(".title")

%h1
  = t ".subtitle"

%p
  = t ".line1"  

%ul
  %li
    = t ".line2"
  %li
    = t ".line3"

%p
  = t ".line4"
%p
  = t ".line5"
%h2
  = t ".line6"
%p
  = t ".line7"

%h2
  = t ".line8"

%p
  = t ".line9"