= title t(".title")

%h1
  = t ".subtitle"

%p
  = t ".line1"  
%ul
  %li
    = t ".line2"
  %li
    = t ".line3"

.separator

%p
  = t ".line4"
%p
  = t ".line5"

%h2
  = t ".line6"

%p
  = raw t ".line7"

%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/puertas_correderas1.jpg"}/
    %li
      %a{:href => "#pic2"}
        %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/puertas_correderas2.jpg"}/

.separator
%h2
  = t ".line8"
%p
  = raw t ".line9"

%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/puertas_correderas3.jpg"}/
    %li
      %a{:href => "#pic2"}
        %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/puertas_correderas5.jpg"}/