= title t(".title")

%h1
  = t ".subtitle"

%p
  = t ".line1"  

%ul.services
  %li
    %a{:href => "#linkcorrederas"}= t".line2"
  %li
    %a{:href => "#linkpracticables"}= t".line3"

.separator

%p
  = t ".line4"
%p
  = t ".line5"

.up_button
  %a{:href => "#top"} Arriba
.line_separator

%h2#linkcorrederas
  = t ".line6"

%p
  = raw t ".line7"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/puertas_correderas1.jpg"}/
    %li
      %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/puertas_correderas2.jpg"}/


.up_button
  %a{:href => "#top"} Arriba
.line_separator

%h2#linkpracticables
  = t ".line8"
%p
  = raw t ".line9"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/puertas_correderas3.jpg"}/
    %li
      %img.thumbnail{:alt => "estanteria paletizada", :src => "/images/puertas_correderas5.jpg"}/