= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  =  t ".line2"
%p
  =  t ".line3"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "reja clasica", :src => "/images/reja_clasica.jpg"}/
