= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = raw t ".line3"
%p
  = raw t ".line4"

%ul.services
  %li
    = section_link_to t(:".line5"), r_ballesta_path
  %li
    = section_link_to t(:".line6"), r_ornamental_path
  %li
    = section_link_to t(:".line7"), r_rombo_path
  %li
    = section_link_to t(:".line8"), r_clasica_path
  %li
    = section_link_to t(:".line9"), r_rectangular_path

.separator

%nav
  %ul
    %li
      %img{:alt => "persiana 1", :src => "/images/persiana1.jpg"}/
    %li
      %img{:alt => "persiana 2", :src => "/images/persiana2.jpg"}/
    %li
      %img{:alt => "persiana 1", :src => "/images/persiana3.jpg"}/
    %li
      %img{:alt => "persiana 2", :src => "/images/persiana4.jpg"}/
    %li
      %img{:alt => "persiana 1", :src => "/images/persiana5.jpg"}/
    %li
      %img{:alt => "persiana 2", :src => "/images/persiana6.jpg"}/