= title t(".title")

%h1#top
  = raw t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = raw t ".line3"
%p
  = t ".line4"
%p
  = raw t ".line5"
%p
  = t ".line6"
%p
  = t ".line7"
%p
  = raw t ".line8"
%p
  = raw t ".line9"

.separator

%nav
  %ul
    %li
      %img{:alt => "reparacion_persianas", :src => "/images/rep_persiana1.jpg"}/
    %li
      %img{:alt => "reparacion_persianas", :src => "/images/rep_persiana2.jpg"}/
    %li
      %img{:alt => "reparacion_persianas", :src => "/images/rep_persiana3.jpg"}/
    %li
      %img{:alt => "reparacion_persianas", :src => "/images/rep_persiana4.jpg"}/
    %li
      %img{:alt => "reparacion_persianas", :src => "/images/rep_persiana5.jpg"}/
    %li
      %img{:alt => "reparacion_persianas", :src => "/images/rep_persiana6.jpg"}/
    %li

.separator

%p
  = t ".line10"

.up_button
  %a{:href => "#top"} Arriba
.separator