= title t(".title")

#title
  %h1= t ".reseller"

#form
  %form{"accept-charset" => "UTF-8", :action => "/new_question", "data-remote" => "true", :method => "post"}
    %fieldset#basic_information
      %input{:class=> "checkbox" , :name => "status", :type => "radio"}/
      %label.checkbox=t ".particular_html"
      %br/

      %label{:for => :name}=t(:name, :scope => "side_bar.questionnaire")
      %input{:id => "name", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :secondname}= t(:last_name, :scope => "side_bar.questionnaire")
      %input{:id => "secondname", :required => "required", :type => "text", :value => ""}/
      %br/

      .separation
      %input{:class=> "checkbox", :name => "status", :type => "radio"}/
      %label.checkbox=t ".business_html"
      %br/

      %label{:for => :company}= t(:company, :scope => "side_bar.questionnaire")
      %input{:id => "company", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :name2}=t(:name, :scope => "side_bar.questionnaire")
      %input{:id => "name2", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :secondname2}= t(:last_name, :scope => "side_bar.questionnaire")
      %input{:id => "secondname2", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :charge}= t(:charge, :scope => "side_bar.questionnaire")
      %input{:id => "charge", :required => "required", :type => "text", :value => ""}/
      %br/

      .separation
      %h2=t ".interest"

      %input{:class=> "checkbox" , :name => "type", :type => "radio"}/
      %label.checkbox=t ".corners_html"
      %br/

      %input{:class=> "checkbox" , :name => "type", :type => "radio"}/
      %label.checkbox=t ".franquicias_html"
      %br/

      %label{:for => :state}= t(:state, :scope => "side_bar.questionnaire")
      %input{:id => "state", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :mail}= t(:mail, :scope => "side_bar.questionnaire")
      %input{:id => "mail", :required => "required", :type => "text", :value => ""}/

      %label{:for => :message}= t(:message, :scope => "side_bar.questionnaire")
      %textarea{:id => "message", :required => "required"}

      %input#button{:name => "commit", :type => "submit", :value => "Enviar"}/


- content_for :info_box do
  = render 'shared/reseller_side'