<%= title t(".title") %>
<%= meta_keywords t(".metakeywords") %>
<%= meta_description t(".metadescription") %>

<div id="servicios_title">
  <h1><%=t(".subtitle") %></h1>
</div>

<div id="servicios_menu">
  <ul>
    <li id="fiscal"><a href="#fiscal_section"><%=t('.link_fiscal') %></a></li>
    <li id="laboral"><a href="#labour_section"><%=t('.link_financial') %></a></li>
    <li id="financial"><a href="#financial_section"><%=t('.link_labour') %></a></li>
    <li id="juridical"><a href="#juridical_section"><%=t('.link_juridical') %></a></li>
    <li id="auditory"><a href="#auditory_section"><%=t('.link_auditory') %></a></li>
    <li id="others"><a href="#others_section"><%=t('.link_others') %></a></li>
  </ul>
</div>


<div id="servicios">

  <h2 id="fiscal_section"><%=t('.subtitle_fiscales') %></h2>
  <p><%=t('.fiscales_description') %></p>
  <ul>
    <li><%=t('.fiscal_1') %></li>
    <li><%=t('.fiscal_2') %></li>
    <li><%=t('.fiscal_3') %></li>
    <li><%=t('.fiscal_4') %></li>
    <li><%=t('.fiscal_5') %></li>
    <li><%=t('.fiscal_6') %></li>
    <li><%=t('.fiscal_7') %></li>
    <li><%=t('.fiscal_8') %></li>
    <li><%=t('.fiscal_9') %></li>
    <li><%=t('.fiscal_10') %></li>
  </ul>
  <div id="btn_fiscal"><a href="#fiscal"><%=t('up_button') %></a></div>

  <div class="line_separation"></div>

  <h2 id="labour_section"><%=t('.labour_subtitle') %></h2>
  <p><%=t('.labour_description') %></p>
  <ul>
    <li><%=t('.labour_1') %></li>
    <li><%=t('.labour_2') %></li>
    <li><%=t('.labour_3') %></li>
    <li><%=t('.labour_4') %></li>
    <li><%=t('.labour_5') %></li>
    <li><%=t('.labour_6') %></li>
    <li><%=t('.labour_7') %></li>
    <li><%=t('.labour_8') %></li>
    <li><%=t('.labour_9') %></li>
    <li><%=t('.labour_10') %></li>
    <li><%=t('.labour_11') %></li>
    <li><%=t('.labour_12') %></li>
    <li><%=t('.labour_13') %></li>
    <li><%=t('.labour_14') %></li>
    <li><%=t('.labour_15') %></li>
    <li><%=t('.labour_16') %></li>
  </ul>
  <div id="btn_laboral"><a href="#laboral"><%=t('up_button') %></a></div>

  <div class="line_separation"></div>

  <h2 id="financial_section"><%=t('.subtitle_financial') %></h2>
  <p><%=t('.financial_description') %></p>
  <ul>
    <li><%=t('.financials_1') %></li>
    <li><%=t('.financials_2') %></li>
    <li><%=t('.financials_3') %></li>
    <li><%=t('.financials_4') %></li>
    <li><%=t('.financials_5') %></li>
    <li><%=t('.financials_6') %></li>
    <li><%=t('.financials_7') %></li>
    <li><%=t('.financials_8') %></li>
    <li><%=t('.financials_9') %></li>
    <li><%=t('.financials_10') %></li>
    <li><%=t('.financials_11') %></li>
    <li><%=t('.financials_12') %></li>
    <li><%=t('.financials_13') %></li>
  </ul>
  <div id="btn_financial"><a href="#financial"><%=t('up_button') %></a></div>

  <div class="line_separation"></div>

  <h2 id="juridical_section"><%=t('.subtitle_juridical') %></h2>
  <p><%=t('.juridical_description') %></p>
  <h3><%=t('.right_mercantile') %></h3>
  <ul>
    <li><%=t('.mercantile_1') %></li>
    <li><%=t('.mercantile_2') %></li>
    <li><%=t('.mercantile_3') %></li>
    <li><%=t('.mercantile_4') %></li>
    <li><%=t('.mercantile_5') %></li>
    <li><%=t('.mercantile_6') %></li>
    <li><%=t('.mercantile_7') %></li>
    <li><%=t('.mercantile_8') %></li>
  </ul>
  <h3><%=t('.right_civil') %></h3>
  <ul>
    <li><%=t('.civil_1') %></li>
    <li><%=t('.civil_2') %></li>
    <li><%=t('.civil_3') %></li>
    <li><%=t('.civil_4') %></li>
    <li><%=t('.civil_5') %></li>
  </ul>
  <h3><%=t('.right_administrative') %></h3>
  <ul>
    <li><%=t('.administrative_1') %></li>
    <li><%=t('.administrative_2') %></li>
    <li><%=t('.administrative_3') %></li>
  </ul>
  <h3><%=t('.r_morosos') %></h3>
  <ul>
    <li><%=t('.p_morosos') %></li>
  </ul>
  <div id="btn_juridical"><a href="#juridical"><%=t('up_button') %></a></div>

  <div class="line_separation"></div>

  <h2 id="auditory_section"><%=t('.subtitle_auditory') %></h2>

  <h3><%=t('.auditory_cuentas_anuales') %></h3>
  <ul>
    <li><%=t('.auditory_pargraph1') %></li>
    <li><%=t('.auditory_pargraph2') %></li>
    <li><%=t('.auditory_pargraph3') %></li>
    <li><%=t('.auditory_pargraph4') %></li>
  </ul>
  <h3><%=t('.report') %></h3>
  <ul>
    <li><%=t('.report_1') %></li>
    <li><%=t('.report_2') %></li>
    <li><%=t('.report_3') %></li>
    <li><%=t('.report_4') %></li>
  </ul>
  <h3><%=t('.forensia') %></h3>
  <ul>
    <li><%=t('.forensia_1') %></li>
    <li><%=t('.forensia_2') %></li>
    <li><%=t('.forensia_3') %></li>
    <li><%=t('.forensia_4') %></li>
    <li><%=t('.forensia_5') %></li>
  </ul>
  <div id="btn_auditory"><a href="#auditory"><%=t('up_button') %></a></div>

  <div class="line_separation"></div>

  <h2 id="others_section"><%=t('.subtitle_others') %></h2>
  <p><%=t('.others_description') %></p>
  <ul>
    <li><%=t('.others_1') %></li>
    <li><%=t('.others_2') %></li>
    <li><%=t('.others_3') %></li>
    <li><%=t('.others_4') %></li>
  </ul>
  <div id="btn_others"><a href="#others"><%=t('up_button') %></a></div>

</div>