= title t(".title")

#title
  %h1= t ".subscribe"

#subscribe
  %p=t ".first_paragraph"

  .subscribe_box
    %input{:class=> "checkbox" , :name => "particular", :type => "radio", :value => "particular"}/
    %p.checkbox=t ".particular_html"
    %br/

    %form#question_form{"accept-charset" => "UTF-8", :action => "/new_question", "data-remote" => "true", :method => "post"}
      //%input{:name => "authenticity_token", :type => "hidden", :value => "7F+N/YbtIH2OY4kFkCWOgdr+jxY6SEttYpg0SbMGN14="}/

      %label{:for => :name}= t(:name, :scope => "side_bar.questionnaire")
      %input.fill{:id => "name", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :secondname}= t(:secondname, :scope => "side_bar.questionnaire")
      %input.fill{:id => "secondname", :required => "required", :type => "text", :value => ""}/
      %br/

      %label{:for => :mail}= t(:mail, :scope => "side_bar.questionnaire")
      %input.fill{:id => "mail", :required => "required", :type => "text", :value => ""}/
      %br/

    %input{:class=> "checkbox", :name => "business", :type => "radio", :value => "business"}/
    %p.checkbox=t ".business_html"
    %br/

    %label{:for => :company}= t(:company, :scope => "side_bar.questionnaire")
    %input.fill{:id => "company", :required => "required", :type => "text", :value => ""}/
    %br/

    %label{:for => :name2}= t(:name, :scope => "side_bar.questionnaire")
    %input.fill{:id => "name2", :required => "required", :type => "text", :value => ""}/
    %br/

    %label{:for => :charge}= t(:title, :scope => "side_bar.questionnaire")
    %input.fill{:id => "charge", :required => "required", :type => "text", :value => ""}/
    %br/

    %label{:for => :mail2}= t(:mail, :scope => "side_bar.questionnaire")
    %input.fill{:id => "mail2", :required => "required", :type => "text", :value => ""}/
    %br/

- content_for :info_box do
  = render 'shared/aboutus_side'
