= title t(".title")

#title
  %h1= t ".subscribe"

%p=t ".first_paragraph"

#form
  = form_for Subscriptor.new do |f|
    %fieldset#basic_information
      = radio_button_tag "fiscal_type", "particular", true, :class => "checkbox"
      %label.checkbox= t ".particular_html"
      %br/

      = f.label :name, t(:name, :scope => "side_bar.questionnaire")
      = f.text_field :name
      %br/
      = f.label :last_name, t(:last_name, :scope => "side_bar.questionnaire")
      = f.text_field :last_name
      %br/
      = f.label :email, t(:email, :scope => "side_bar.questionnaire")
      = f.text_field :email
      %br/

      = radio_button_tag "fiscal_type", "business", false, :class => "checkbox"
      %label.checkbox= t ".business_html"
      %br/

      = f.label :company, t(:company, :scope => "side_bar.questionnaire")
      = f.text_field :company
      %br/
      = f.label :name, t(:name, :scope => "side_bar.questionnaire")
      = f.text_field :name
      %br/
      = f.label :charge, t(:charge, :scope => "side_bar.questionnaire")
      = f.text_field :charge
      %br/
      = f.label :email, t(:email, :scope => "side_bar.questionnaire")
      = f.text_field :email
      %br/

      %input#button{:name => "commit", :type => "submit", :value => t(:send, :scope => "side_bar.questionnaire")}/


- content_for :info_box do
  = render 'shared/aboutus_side'

- content_for :custom_js do
  :javascript
    // We need to deactivate and activate all the inputs belonging to each radio button to avoid sending all of them
