= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = t ".line2"
%p
  = raw t ".line3"

%nav
  %ul
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "toldo punto recto", :src => "/images/t_puntorecto1.jpg"}/
    %li
      %a{:href => "#pic1"}
        %img.thumbnail{:alt => "toldo punto recto", :src => "/images/t_puntorecto2.jpg"}/