= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = raw t ".line3"
%p
  = t ".line4"
%p
  = t ".line5"
%p
  = t ".line6"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "toldo guias", :src => "/images/toldo_guias.jpg"}/
