= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = t ".line3"
%p
  = t ".line4"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "toldo_stor", :src => "/images/toldo_stor1.jpg"}/
    %li
      %img.thumbnail{:alt => "toldo_stor", :src => "/images/toldo_stor2.jpg"}/
