= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1
  = t ".subtitle"

%p
  = t ".line1"
%p
  = raw t ".line2"
%nav
  %ul
    %li
      %img.thumbnail{:alt => "techos", :src => "/images/techos1.jpg"}/
    %li
      %img.thumbnail{:alt => "techos", :src => "/images/techos2.jpg"}/
