= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = raw t ".line3"
%p
  = raw t ".line4"
  
%ul.services
  %li
    = section_link_to t(:".line6"), t_stor_varilla_path
  %li
    = section_link_to t(:".line7"), t_stor_guias_path
  %li
    = section_link_to t(:".line8"), t_punto_path
  %li
    = section_link_to t(:".line9"), brazos_path
  %li
    = section_link_to t(:".line10"), capota_path
  %li
    = section_link_to t(:".line11"), corredero_path
  %li
    = section_link_to t(:".line12"), toldo_path
  %li
    = section_link_to t(:".line13"), marquesinas_path

.separator

%nav
  %ul
    %li
      %img{:alt => "toldo", :src => "/images/toldo1.jpg"}/
    %li
      %img{:alt => "toldo", :src => "/images/toldo2.jpg"}/
    %li
      %img{:alt => "toldo", :src => "/images/toldo3.jpg"}/
    %li
      %img{:alt => "toldo", :src => "/images/toldo4.jpg"}/
    %li

.separator

%p
  = t ".line14"
%p
  = t ".line15"
%p
  = t ".line16"
%p
  = t ".line17"
%p
  = t ".line18"
%p
  = t ".line19"

.up_button
  %a{:href => "#top"} Arriba
.separator
