= title t(".title")

%h1
  = t ".subtitle"

%p
  = raw t ".line1"
%p
  = raw t ".line2"
%p
  = raw t ".line3"
%p
  = raw t ".line4"
  
%ul
  %li
    = t ".line6"
  %li
    = t ".line7"
  %li
    = t ".line8"
  %li
    = t ".line9"
  %li
    = t ".line10"
  %li
    = t ".line11"
  %li
    = t ".line12"
  %li
    = t ".line13"

.separator

%nav
  %ul
    %li
      %img{:alt => "toldo", :src => "/images/toldo1.jpg"}/
    %li
      %img{:alt => "toldo", :src => "/images/toldo2.jpg"}/
    %li
      %img{:alt => "toldo", :src => "/images/toldo3.jpg"}/
    %li
      %img{:alt => "toldo", :src => "/images/toldo4.jpg"}/
    %li

.separator

%p
  = t ".line14"
%p
  = t ".line15"
%p
  = t ".line16"
%p
  = t ".line17"
%p
  = t ".line18"
%p
  = t ".line19"

