= title t(".title")

%h1
  = t ".subtitle"

%p
  = t ".line1"

%ul
  %li
    = t ".line2"
  %li
    = t ".line3"
  %li
    = t ".line4"
    
%p
  = t ".line5"
%p
  = t ".line6"

%h2
  = t ".line7"
%p
  = t ".line8"
%h2
  = t ".line9"
%p
  = t ".line8"
%p
  = t ".line10"
%h2
  = t ".line9"