= title t(".title")

%h1
  = t ".subtitle"

%p
  = t ".line1"

%ul.services
  %li
    = t ".line2"
  %li
    = t ".line3"
  %li
    = t ".line4"

.separator   
%p
  = t ".line5"
%p
  = t ".line6"

%h2
  = t ".line7"
%p
  = raw t ".line8"
%nav
  %ul
    %li
      %img.thumbnail{:alt => "ventana", :src => "/images/ventanas.jpg"}/
    %li
      %img.thumbnail{:alt => "ventana", :src => "/images/ventanas4.jpg"}/

.separator   
%h2
  = t ".line9"
%p
  = raw t ".line10"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "ventana", :src => "/images/ventanas1.jpg"}/
    %li
      %img.thumbnail{:alt => "ventana", :src => "/images/ventanas2.jpg"}/

.separator   
%h2
  = t ".line9"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "ventana", :src => "/images/ventanas3.jpg"}/