= title t(".title")
= meta_keywords t('.metakeywords')
= meta_description t('.metadescription')

%h1#top
  = t ".subtitle"

%p
  = t ".line1"

%ul.services
  %li
    %a{:href => "#linkcorrederas"}= t".line2"
  %li
    %a{:href => "#linkpracticables"}= t".line3"
  %li
    %a{:href => "#linkoscilobatientes"}= t".line4"

.separator
%p
  = t ".line5"
%p
  = t ".line6"

.up_button
  %a{:href => "#top"} Arriba
.line_separator

%h2#linkcorrederas
  = t ".line7"
%p
  = raw t ".line8"
%nav
  %ul
    %li
      %img.thumbnail{:alt => "ventana", :src => "/images/ventanas.jpg"}/
    %li
      %img.thumbnail{:alt => "ventana", :src => "/images/ventanas4.jpg"}/


.up_button
  %a{:href => "#top"} Arriba
.line_separator

%h2#linkpracticables
  = t ".line9"
%p
  = raw t ".line10"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "ventana", :src => "/images/ventanas1.jpg"}/
    %li
      %img.thumbnail{:alt => "ventana", :src => "/images/ventanas2.jpg"}/

.up_button
  %a{:href => "#top"} Arriba
.line_separator

%h2#linkoscilobatientes
  = t ".line9"

%nav
  %ul
    %li
      %img.thumbnail{:alt => "ventana", :src => "/images/ventanas3.jpg"}/

.up_button
  %a{:href => "#top"} Arriba
.separator
