%p
  %b Title:
  = post.title
%p
  %b Body:
  = post.body
%p
  %b Date
  = post.date
%p
  %b User:
  = post.user.email
%p
  %b Published:
  = post.published
%p= link_to "#{pluralize(post.comments.count, "Comentari")}", "#{post_path(post)}#comentaris"
%br

-# render "comments"
