%p
  %b Títol:
  = post.title
%p
  %b Text:
  = raw post.body
%p
  %b Data
  = post.date
%p
  %b Usuari:
  = post.user.email
%p
  %b Publicat:
  = post.published
%p= link_to "#{pluralize(post.comments.count, "Comentari")}", "#{post_path(post)}#comentaris"
%br