.post
  %h3
    = link_to post.title, post_path(post)
  .meta
    %time
      = pretty_date post.created_at
    .comments
      = link_to "#{pluralize(post.comments.count, "Comentari")}", "#{post_path(post)}#comments"
  %p
    = raw post.body