= title (t ".title")

- content_for :meta_description do
  = t(:metadescription)
- content_for :head do
  %meta{:property => "og:description", :content => t(:metadescription)}
   

%h2= t ".title"

= render :partial => @posts

= will_paginate @posts

