= title (t ".title")

- content_for :meta_description do
  = t(:metadescription)
- content_for :head do
  %meta{:property => "og:description", :content => t(:metadescription)}
   
  
-#Youtube Video
%iframe{:id=>"div-video",:width=>"560", :height=>"345", :src=>"http://www.youtube.com/embed/A0Xsf5C_v28?wmode=transparent&amp;hd=1", :frameborder=>"0", :allowfullscreen => "true"}

%h2= t ".title"

= render :partial => @posts

= will_paginate @posts, :previous_label => "&laquo; Anterior", :next_label => "Següent &raquo;"

