%p
  %b Titol:
  = @post.title
%p
  %b Contingut:
  = raw @post.body
%p
  %b Data
  = @post.date
%p
  %b Usuari:
  = @post.user.email
%p
  %b Publicat:
  = @post.published
%br
%p

= render :partial => 'comments'

= link_to 'Edita', edit_admin_post_path(@post)
\|
= link_to 'Enrere', admin_posts_path
