= title (t ".title")

%h3
  = @post.title
.meta
  %span.date
    = pretty_date @post.date
  %fb:like{:href=>url_for(:action => 'show', :controller => 'posts', :id=>@post, :only_path=>"false"),:send=>"false", :layout=>"button_count", :width=>"107", :show_faces=>"false", :font=>"verdana"}
.comment-body
  %p
    = raw @post.body

= render :partial => 'comments'
