%span{ :id => "image-#{image.id}", :class => "image" }
  = image_tag(image.file.thumb.url, :class => "placeholder")
  = button_to "Eliminar", admin_image_path(image), { :method => :delete, :remote => true, :confirm => "N'estàs segur?"}
  %span{ :id => "destroy-image-#{image.id}", :class => "destroy" }

- content_for :custom_js do
  :javascript
    $(document).ready(function() {
      initImageDelete("image-#{image.id}");
      $().click(function(){
        if(confirm("N'estas segur?")){
          $("#image-#{image.id} > .button_to").ajaxSubmit();
        }
      });
    });
