- unless @page_content.new_record?
  = render "admin/shared/asset-picker", :owner => @page

%h1 Editar página '#{@page}' en el idioma #{@page_content.locale}

= simple_form_for [:admin, @page_content ] do |f|
  = f.input :url
  - unless @page_content.new_record?
    =f.input :body, :label => "Body", :input_html => { :class => "editor" }
    #pseudodroppable <!-- Needed for image drag and drop -->

  = f.button :submit, :id => "editor-button"

