<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= yield :title %></title>

  <!-- Informacio META -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="Keywords" content="<%= yield :meta_keywords %>"/>
  <meta name="description" content="<%= yield :meta_description %>"/>
  <meta name="Generator" content="Itnig" />
  <meta name="Origen" content="Itnig" />
  <meta name="Author" content="Itnig" />
  <meta name="Locality" content="Barcelona, España" />
  <meta name="Language" content="es" />
  <meta name="Language" content="ca" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="geo.region" content="ES-CT" />
  <meta name="geo.placename" content="Barcelona" />
  <meta name="geo.position" content="41.397124;2.162625" />
  <meta name="ICBM" content="41.397124, 2.162625" />
  <meta name="google-site-verification" content="4cJME4OjPG9G8zZAmNXQr3YwD8uPEOWfBycCM0KL1JU" />
  <!-- /Informacio META -->

  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'screen' %>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

</head>
<body class="one_col">
  <div id="container">
    <div id="header">
      <div id="menu"><%= render :partial => "shared/menu"%></div>
      <h1><a href="<%= root_path %>"><%= raw t('title') %></a></h1>
      <h2><a href="<%= root_path %>"><%= t('subtitle') %></a></h2>

      <div id="logo"><img alt="Limpieza" src="/images/mtc-logo.png"/></div>

      <div id="quote"><p><%= t('first_paragraph') %></p></div>
    </div>
    <div id="info_box"><%= yield %></div>
    <div id="footer"><%= render :partial => "shared/footer" %></div>

</div>
  <script src="http://www.google.com/jsapi?key=ABQIAAAA0ylfVAz-VO81YNZU6tZcBBS0wYR1CwRzgIDun2kbXwmuPB7-BRStiMt_6Fbyr1sdhUvYaOBolxf_bw" type="text/javascript"></script>
   <script type="text/javascript">
     google.load("jquery", "1.4.2");
   </script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "facebox","application", :cache => true -%>
  <%= yield :custom_js %>
</body>
</html>
